# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# macOS
.DS_Store

# IDEs
.idea/
.vscode/

# Project specific
logs/*.log
index/
indexdir/
*.json
!requirements.txt

*.pyc

.cursor/

# Project data (те, що ти не хочеш бачити в гіті)
data/*.db
*.log

# Sensitive (якщо використовуєш .env)
.env
